# Ignore node_modules (for Node.js apps)
node_modules

# Ignore build artifacts
dist
build

# Ignore Docker-related files
Dockerfile*
.dockerignore

# Ignore temporary and log files
*.log
*.tmp

# Ignore version control directories
.git
.gitignore

# Ignore any IDE or editor configuration files
.vscode
.idea
